html{
    background-color: #f3f3f3;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.signupform{
    
    width: 100%;
    margin: 0 auto;
    font: bold 14px sans-serif;
    text-align: center;
    
    box-sizing: border-box;
    max-width: 475px;
    margin: 0 auto;
    padding: 5px;
}

.form-itself{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 130px;
    text-align: center;
}

.form-itself .signup-form{
    width: 570px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 80px;
    margin-bottom: 35px;
}

.form-itself .form-row{
    text-align: left;
    margin-bottom: 23px;
    margin: 25px auto 0;

}

.form-itself input[type=radio],
.form-itself input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-itself .signup-title{
    text-align: center;
    margin-bottom: 50px;
    margin: 0 auto 40px;
}

.form-itself h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 0 12px 0;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-itself .form-row > label span{
    display: block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 375px;
    padding: 0 0 12px;
}

.form-itself input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 300px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-itself .form-checkbox input{
    margin-left: 7px;
    margin-right: 10px;
    width: auto;
    vertical-align: top;
}

.form-itself .form-row .form-checkbox span{
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    width: 220px;
    margin: 0;
}

.form-itself .form-checkbox span a{
    text-decoration: none;
    color:  #6caee0;
}

.form-itself .form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-itself .form-radio-buttons label span{
    margin-left: 8px;
    color:  #5f5f5f;
    font-weight: normal;
}

.form-itself .form-radio-buttons input{
    width: auto;
}

.form-itself button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin-top: 15px;
    cursor: pointer;
}

.form-itself .to-login{
    text-decoration: none;
    padding: 2px 8px;
    font-weight: normal;
    color: #0099ff;
}

@media (max-width: 600px) {

    .signup{
        padding: 30px;
    }

    .signup input{
        width: 240px;
    }

}
