<!DOCTYPE html>
<html>
<body>

<form action="/send/message" method="post" target="_blank">
  Subject: <input type="text" name="subject"><br>
  Message: <input type="text" name="message"><br>
  <input type="submit" formmethod="post" value="Send Mail">
</form>

<form action = "/send/trumpquote" method = "post">
        <input type="submit" name="trump" value="Send Trump Quote" />
</form>

<form action = "/send/news" method = "post">
    <input type="submit" name="news" value="Send News Headline" />
</form>

<form action = "/send/quote" method = "post">
    <input type="submit" name="quote" value="Send Quote" />
</form>

<form action = "/sendmsg" method = "post">
    <input type="submit" name="msg" value="Send SMS" />
</form>

</body>
</html>